<!--================Footer Area =================-->
<br>
<br>
<footer class="footer_area bg-dark text-white">
  <div class="footer_widgets">
    <div class="container">
      <br>

      <div class="row footer_wd_inner">
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_about_widget">
            <img src="/img/logo (3).png" alt="">
                <p>Our passion is Empowerment And Community Building, And We Believe This Are The Core Values For Sustainable Economies. </p>
            <ul class="nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_link_widget">
            <div class="f_title">
              <h3>Work Times</h3>
            </div>
            <ul class="list_style">
              <li><a href="#">Mon. :  Fri.: 8 am - 4 pm</a></li>
              <li><a href="#">Sat. : 9am - 4pm</a></li>
              <li><a href="#">Sun. : Closed</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_contact_widget">
            <div class="f_title">
              <h3>Contact Info</h3>
            </div>
            <h4>(1800) 574 9687</h4>
            <p>nhub, 3rd Floor Tean Business Complex,<br />Opposite NITEL, Old Airport Junction, <br />Jos Plateau State. </p>
        <h5>www.nhubfoundation.org</h5>
        <h5>admin@nhubfoundation.org</h5>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="container">
      <div class="copyright_inner">
          <h5><a target="_blank" href="https://www.nhubfoundation.org">nhubfoundation</a></h5>

      </div>
    </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->







  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>
  <script src="/js/jquery-1.9.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  <script>
      CKEDITOR.replace( 'editor1' );
  </script>
</body>
</html>
